:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --opaque-cyan: hsla(178, 100%, 50%, 0.5);
  --main-bg-blue: hsl(217, 54%, 11%);
  --card-bg-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --font-size: 1.125rem;
  --small-font-size: 1rem;
  --font-family: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white)
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--soft-blue);
  height: 100vh;
  background-color: var(--main-bg-blue);
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 360px;
  background-color: var(--card-bg-blue);
  padding: 1.5em;
  border-radius: 20px;
  display: grid;
  gap: 1rem;
}

.card__image-link {
  position: relative;
}

.card__image-link:hover::before {
  content: url(./images/icon-view.svg);
  width: 100%;
  height: 100%;
  background-color: var(--opaque-cyan);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card__link:hover {
  color: var(--cyan);
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1rem;
}

.card__description {
  font-weight: 300;
  font-size: var(--small-font-size);
  line-height: 1.75rem;
}

.card__info {
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
}

.card__price,
.card__deadline {
  display: flex;
  align-items: center;
}

.card__price img,
.card__deadline img {
  margin-right: 0.375rem;
}

.card__price {
  color: var(--cyan);
}

.line-break {
  background-color: var(--line-blue);
  width: 100%;
  height: 1px;
}

.author {
  display: flex;
  align-items: center;
}

.author__image {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 1.25rem;
}

.author__link {
  font-size: var(--small-font-size);
  font-weight: 300;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
}